html {
  body {
    // font-family: "giloryLight";
    font-family: "giloryMedium";
    .header-container {
      -webkit-box-shadow: -1px 5px 13px -8px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -1px 5px 13px -8px rgba(0, 0, 0, 0.75);
      box-shadow: -1px 5px 13px -8px rgba(0, 0, 0, 0.75);
      padding: 10px 30px;
      .main-header {
        padding: 10px 0px;
        border-bottom: 0.4px solid #e2dfdf;
        .mobile-numbers a {
          color: $grey;
          text-decoration: none;
        }
        .socials {
          padding-left: 20px;
          a.mdi {
            color: white;
          }
        }
      }
      nav.navbar {
        .navbar-brand {
          img {
            max-height: 3rem;
          }
          .blog-nav {
            .is-active {
              color: black !important;
            }
            &:hover {
              color: black !important;
            }
            span.left {
              font-size: 35px;
              font-family: "giloryBold";

              text-transform: bold;
              color: $red;
              text-decoration: none;
            }
            span.right {
              font-size: 35px;
              font-family: "giloryLight";
              text-decoration: none;

              &:hover {
                color: black;
              }
            }
          }
        }
      }
    }
    section.hero-bg {
      background-position: bottom;
      background-size: cover;

      background-repeat: no-repeat;
      .hero-body {
        .homepage-container {
          .container-content {
            .main-title {
              font-size: 3rem;
            }
            .main-subtitle {
              font-size: 1.5rem;
              font-family: "giloryLight";
            }
            .buttons-container {
              padding: 20px 0px;
              // width: 30%;
            }
          }
        }
      }
    }
    section.services-children {
      background-position: top;
      background-size: cover;

      background-repeat: no-repeat;
    }
    section.web-pages {
      padding: 50px;
      .pg-title {
        font-size: 30px;
      }
      /*
      ==========HOMEPAGE============
      */
      .homepage {
        .home-img-box {
          display: block;
          height: 400px;
          -webkit-box-shadow: 3px 2px 32px -7px rgba(0, 0, 0, 0.78);
          -moz-box-shadow: 3px 2px 32px -7px rgba(0, 0, 0, 0.78);
          box-shadow: 3px 2px 32px -7px rgba(0, 0, 0, 0.78);
          // background-image: url(/img/banner/about.jpg);
          background-position: bottom;
          background-size: cover;

          background-repeat: no-repeat;

          .box-content {
            padding-top: 150px;
            .box-title {
              font-size: 60px;
            }
            text-align: center;
          }
        }
        section.testimonials {
          .testimonial-title {
            font-family: "giloryBold";
            font-size: 5rem;
            padding: 30px 0px;
            text-align: center;
          }
          .testimonial-container {
            padding: 0px 80px;
            .testimonial-box {
              height: 350px;
              // width: 60%;
              .testimonial-text {
                height: 250px;
                line-height: 40px;
                font-family: "giloryLight";
                font-style: italic;
                font-size: 20px;
              }
              .testimonial-author {
                font-family: "giloryBold";

                padding-top: 40px;
                font-size: 20px;
              }
            }
          }
        }
      }
      //========ABOUT===============
      .about {
        padding: 30px 40px;

        .pg-content {
          color: $grey !important;
          line-height: 30px;
        }
      }

      // ========== BLOG ================
      .blog {
        .display-error {
          padding: 50px 0px;
          font-size: 70px;
          text-align: center;
          text-transform: capitalize;
          font-family: "giloryLight";

          color: $blue;
        }
        .caption-blog {
          .bcontent {
            background-color: $light-grey;
            .left {
              background-size: cover;
              background-position: 50%;
              height: 470px;
            }
            .right {
              color: $blue;

              padding: 30px;
              .sub-title {
                font-size: 14px;
                padding: 10px 0px;
              }
              .title {
                font-size: 20px;
                font-family: "giloryBold";
                color: $red;
              }
              .content {
                font-size: 15px;
              }
              .date {
              }
            }
          }
        }
        section.blog-content {
          margin-top: 60px;
          .blog-container {
            margin: 10px 0px;
            min-height: 380px;
            &:hover {
              box-shadow: 0 12px 60px rgba(10, 10, 10, 0.3);
              // animation-delay: 100ms;
              // order: 1;
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-fill-mode: both;
              animation-duration: 0.4s;
              transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
            background-color: $light-grey;
            .blog-author {
              color: $blue;
              font-size: 10px;
              font-weight: 700;
              letter-spacing: 1.2px;
              text-align: right;
              text-transform: uppercase;
              margin: -10px 0 10px;
            }
            .blog-image {
              height: 160px;
              background-position: 50%;
              background-repeat: no-repeat;
              background-size: cover;
              margin: 0 -20px;
              // border-top: 2px solid #2d609a;
              // border-bottom: 2px solid #2d609a;
            }
            .blog-content {
              .bg-text {
                padding: 10px 0px 20px 0px;
                color: $blue;
              }
              h1.title {
                margin: 0;
                padding: 10px 0px;
                font-family: "giloryBold";
                height: 35px;
                font-size: 20px;
                font-weight: 400;
                // text-align: center;
                // overflow: hidden;
                color: $red;
              }
            }
            .right {
              position: relative;
              display: flex;
              margin-bottom: -15px;
              justify-content: flex-end;
              font-family: "giloryBold";
              font-size: 12px;
              .blog-link {
                position: absolute;
                top: 100px;
                color: $blue;
              }
            }
          }
        }
      }

      .blog-inner {
        .display-error {
          padding: 50px 0px;
          font-size: 70px;
          text-align: center;
          text-transform: capitalize;
          font-family: "giloryLight";

          color: $blue;
        }
        .container {
          .blog-container {
            margin-bottom: 50px;
            background-color: $light-grey;
            .top-image {
              height: 500px;
              background-position: 50%;
              background-repeat: no-repeat;
              background-size: cover;
            }
            .blog-content {
              padding: 20px;
              .b-sub {
                font-size: 15px;
                color: $blue;
                text-align: right;
                padding: 10px 0px;
              }
              .b-title {
                font-size: 25px;
                font-family: "giloryBold";
                color: $red;
              }
              .is-flex {
                align-items: center;
                font-size: 11px;
                .divider {
                  margin: 0px 10px;
                }
              }
              .b-content {
                padding: 10px 0px;
                font-size: 15px;
                line-height: 30px;
                color: $blue;
              }
            }
          }
          .read-more {
            margin: 20px 0px;
            color: $blue;
            font-family: "giloryBold";
          }
          .blog-jumper {
            .item-container {
              height: 290px;
              background-color: $light-grey;
              .b-img {
                height: 200px;
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: cover;
              }
              .b-title {
                padding: 10px 10px;
                font-size: 15px;
                font-family: "giloryBold";
                color: $red;
              }
            }
          }
        }
      }

      // ========PROCESS=============
      .process {
        padding: 0px 40px;
        .pg-process-content {
          padding: 20px 0px;
          .process-image {
            width: 300px;
          }
          .process-title {
            text-transform: capitalize;
            padding: 5px 0px;
          }
          .proceess-content {
            line-height: 30px;
          }
          button.is-danger {
          }
        }
      }
      // ========Our Services=============
      .services {
        .pg-services-content {
          padding: 20px 0px;
          ul {
            margin-left: 20px;
            li {
              margin: 20px 0px;
              list-style: disc;
            }
          }
        }
        .service-dropdown {
          margin: 0px 0px 50px 0px;
          .card-header-title {
            // color: $red;
            // font-size: 20px !important;
          }
          .card-content {
            .content {
              ul li a {
                color: $blue;
              }
            }
          }
          max-width: 70%;
        }
      }
      // ========Inner Services Pages=====
      .services-children {
        padding: 20px;
        .service-content {
          padding: 20px 0px;
          line-height: 30px;
        }
        .service-button {
          margin: 20px 0px;
        }
      }
      // =========FAQ=================
      .faq {
        .faq-list {
          .faq-card {
            margin: 30px 0px;
            border-left: 5px solid #46518c;
          }
        }
      }

      // =========== Meal Prep ====================
      .meal {
        .meal-img {
          min-height: 300px;
          min-width: 200px;
          background-size: cover;

          background-repeat: no-repeat;
        }
        .option-section {
          // text-align: center;
          padding-bottom: 30px;
          .menu {
            padding: 20px 0px;
            .menu-contain {
              .menu-title {
                padding: 5px 0px;
                font-size: 20px;
                text-align: center;
                font-family: "giloryBold";
                color: $blue;
              }
            }
          }
        }
        .main-menu {
          &__title {
            font-family: "giloryBold";
            text-align: center;
          }
          &__subtitle {
            text-align: center;
            font-family: "giloryBold";
            color: $red;
          }
          &__menu-tags {
            padding: 10px 0px;
          }
          &__list-horizontal {
            ul {
              li {
                span.bull {
                  color: $red;
                  font-size: 20px;
                }
                display: inline;
                color: $blue;
                font-size: bold;
                font-size: 18px;
                // padding-right: 30px;
              }
            }
          }
        }
      }

      // =========Join Us Page========
      .join-us {
        .pg-title {
          padding: 20px 0px;
        }
        &-email {
          color: $blue;
          padding-top: 40px;
          font-size: 20px;
        }
        ul {
          list-style: disc;
          padding-top: 10px;
          padding-left: 30px;
        }
        p {
          strong {
            color: $blue;
            font-size: 20px;
          }
          // margin-top: 30px;
        }
      }
      // =========Contact Page========
      .contact {
        .head-office {
          font-size: 25px;
          padding: 30px 0px;
        }
        .contact-content {
          .pg-form {
            label {
              color: $blue;
            }
          }
          .contact-container {
            p {
              padding: 5px 0px;
              color: $blue;
            }
          }
        }
      }
    }
    .footer {
    }

    section.footer {
      background-color: $blue;
      padding: 3rem 1.5rem;
      .contact-box {
        .contact-title {
          font-size: 100%;
          font-weight: bold;
          text-transform: capitalize;
          padding: 0px 0px 10px 0px;
        }
        .contact-subtitle {
          padding: 0px 0px 15px 0px;
        }
      }
      .footer-content {
        padding: 50px 100px;
        color: white;
        &__footer-title {
          font-family: "giloryBold";
          font-size: 20px;
          // text-align: center;
          text-transform: uppercase;
        }
        &__footer-link {
          font-family: "giloryLight";
          padding: 10px 0px;
          font-size: 18px;
          // text-align: left;
          text-transform: capitalize;
        }
        .office-reg {
          padding: 20px 0px;
          .office-title {
          }
          .office-email {
            text-decoration: none;
            text-transform: lowercase;
          }
        }
        .footer-underline:not(:last-child) {
          border-bottom: 1px #cbc7d6 solid;
          text-decoration: overline;
        }
      }
    }
  }
}
